@use "../abstracts/" as *;
.home {
  max-width: rem(1440, $fs-l);
  padding: rem(58, $fs-l) rem(350, $fs-l) 0;
  margin: 0 auto;

  @include respond(tab-port) {
    padding: rem(58, $fs-s) rem(39, $fs-s) 0;
  }

  @include respond(phone) {
    padding: rem(24, $fs-s) rem(24, $fs-s) 0;
  }
}
