.select {
  width: 12rem;
  border: none;
  background-color: inherit;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  position: relative;
  z-index: 10;

  &__current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 12px;
      background-image: url(../../assets/images/icon-arrow-down.svg);
      background-repeat: no-repeat;
    }
  }

  &__options {
    padding: 2.4rem;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    width: 18.3rem;
    position: absolute;
    right: 0;
    top: 4rem;
    visibility: hidden;
    background-color: var(--clr-main-bg);
    & > *:not(:last-child) {
      margin-bottom: 1.6rem;
    }
    &--open {
      visibility: visible;
    }
  }

  &__option {
    cursor: pointer;
    user-select: none;
    transition: color 0.25s ease;
    &--sans-serif {
      font-family: var(--font-sans-serif);
    }
    &--serif {
      font-family: var(--font-serif);
    }
    &--mono {
      font-family: var(--font-mono);
    }
    &:hover {
      color: var(--clr-primary-purple);
    }
  }
}
