@use "../abstracts/" as *;

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px , 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 80%; // 1rem = 12px , 12/15 = 80%
  }
}

body {
  font-family: var(--font-sans-serif);
  background-color: var(--clr-main-bg);
  font-size: rem(18, $fs-l);
  line-height: rem(24, $fs-l);
  color: var(--clr-main-text);
  transition: all 0.25s ease;
  @include respond(tab-land) {
    font-size: rem(18, $fs-m);
    line-height: rem(24, $fs-m);
  }

  @include respond(tab-port) {
    font-size: rem(18, $fs-s);
    line-height: rem(24, $fs-s);
  }

  @include respond(phone) {
    font-size: rem(15, $fs-s);
    line-height: rem(24, $fs-s);
  }
}

body.dark {
  --clr-main-bg: var(--clr-dark);
  --clr-main-text: var(--clr-light-shade-200);
  --clr-variant-100: var(--clr-dark-tint-100);
  --clr-toggle-bg: var(--clr-primary-purple);
  --clr-variant-300: var(--clr-dark-tint-300);
  --box-shadow: var(--box-shadow-dark);
}
