.heading-m,
.heading-s,
.body-m,
.body-s {
  font-weight: 400;
}

.heading-xl {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 8.2rem;
}
.heading-l {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
}

.heading-m {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.heading-s {
  font-size: 2rem;
  line-height: 2.4rem;
}

.body-m {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.body-s {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.body-lb {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
}
.body-l {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
}
