:root {
  --clr-primary-purple: #a445ed;
  --clr-primary-orange: #ff5252;
  --clr-dark: #050505;
  --clr-dark-tint-100: #1f1f1f;
  --clr-dark-tint-200: #2d2d2d;
  --clr-dark-tint-300: #3a3a3a;
  --clr-light: #ffffff;
  --clr-light-shade-100: #f4f4f4;
  --clr-light-shade-200: #e9e9e9;
  --clr-light-shade-300: #757575;

  --font-sans-serif: "Inter";
  --font-serif: "Lora";
  --font-mono: "Inconsolata";
  --font-family-default: var(--font-serif);
}
