@use "../abstracts/" as *;
.source {
  margin-top: 2rem;
  margin-bottom: 12.3rem;
  display: flex;
  gap: 2rem;
  align-items: center;

  &__link,
  &__link:link,
  &__link:visited {
    color: var(--clr-light-shade-300);
    border-bottom: 1px solid var(--clr-light-shade-300);
  }
  &__link--full,
  &__link--full:link,
  &__link--full:visited {
    color: var(--clr-main-text);
    border-bottom: 1px solid var(--clr-dark-tint-200);
  }
  @include respond(phone) {
    margin-top: rem(24, $fs-s);
    margin-bottom: rem(84, $fs-s);
  }
}
