.synonyms {
  margin-bottom: 4rem;
  display: flex;

  &__title {
    color: var(--clr-light-shade-300);
    margin-right: 2.4rem;
  }

  &__words {
    display: flex;
    gap: 20px;

    flex-wrap: wrap;
    justify-items: start;
  }

  &__word {
    color: var(--clr-primary-purple);
    padding: 2px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 4px 2px -2px var(--clr-primary-purple);
    }
  }
}
