@font-face {
  font-family: "Lora";
  font-display: swap;
  font-weight: 100 900;
  src: url("../../assets/fonts/lora/Lora-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 100 900;
  src: url("../../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-display: swap;
  font-weight: 100 900;
  src: url("../../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
